[submodule "lib/pico_spdif_rx"]
	path = lib/pico_spdif_rx
	url = https://github.com/elehobica/pico_spdif_rx.git
[submodule "lib/pico_fatfs_customized/pico_fatfs"]
	path = lib/pico_fatfs_customized/pico_fatfs
	url = https://github.com/elehobica/pico_fatfs.git
[submodule "lib/pico_flash_param"]
	path = lib/pico_flash_param
	url = https://github.com/elehobica/pico_flash_param.git
[submodule "lib/pico_audio_i2s_32b"]
	path = lib/pico_audio_i2s_32b
	url = https://github.com/elehobica/pico_audio_i2s_32b.git
